.badge {
	position: absolute;
	right: 15px;
	top: 15px;
	text-transform: uppercase;
}

$badge-font-weight: 800;
$badge-font-size: 14px;
$badge-padding-y: .57em;
$badge-padding-x: 1.1em;
$badge-border-radius: 15px;