$btn-font-family: $defaultFont;
$btn-font-weight: 800;
$btn-font-size: 18px;
$btn-line-height: 1;
$btn-padding-y: 15px;
$btn-padding-x: 30px;
$btn-link-color: var(--white);
$btn-link-hover-color: var(--white);
$btn-border-radius: 16px;